/* CSS declarations go here */
body {
  background-color:#000;
  background-image:
    radial-gradient(circle 2px at 0px, grey 20%, transparent 40%),
    radial-gradient(circle 2px at 0px, grey 20%, transparent 40%),
    radial-gradient(circle 2px at 30px, grey 20%, transparent 40%),
    radial-gradient(circle 2px at 30px, grey 20%, transparent 42%);
  background-size:60px 60px;
  background-position: 0 0, 30px 30px
}
